{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "ACS_CONNECTION_STRING": "endpoint=https://<your-acs-resource>.communication.azure.com/;accesskey=<your-access-key>",
    "ACS_SENDER_ADDRESS": "DoNotReply@<your-domain>.azurecomm.net",
    "CONTACT_RECIPIENT_EMAIL": "info@vnloc.com"
  },
  "Host": {
    "CORS": "http://localhost:3000",
    "CORSCredentials": false
  }
}
